<?xml version="1.0" ?>
<Parameter>
  <General_Parameters>
    	<Mode>Check</Mode>
	    <!--Mode:
        1.Check
        2.PreChooseSingleObject
        3.PreChooseMultiObject
        4.FreeChoose
        5.CharacterPick
        -->
	    <SrcFormat>picture</SrcFormat>
	    <!--SrcFormat:1.picture 2.video-->
      <Label>Text_String</Label>
      <Scale_Parameters>
        	<ScaleBy>width</ScaleBy>
	        <!--ScaleBy:1.width 2.height-->
	        <IsNeedWHRatio>0</IsNeedWHRatio>
	        <!--IsNeedWHRatio:1.NO(0) 2.YES(1)-->
	        <WHRatio wRatio="1" hRatio="1"/>
	        <!--WHRatio:(width height)-->
      </Scale_Parameters>
      
      <Visual_Parameters>
          <LineThickness thickness="2"/>
          <Resolution width="1280" height="720"/>
      </Visual_Parameters>
  </General_Parameters>
  
  <Video_Parameters>
      <VideoJumpFrame frame="25"/>
      <VideoSrc>E:\1.avi</VideoSrc>
  </Video_Parameters>

  <Picture_Parameters>
      <PictureSrc>D:\LYS\TEST</PictureSrc>
  </Picture_Parameters>

  <Check_Parameters>
      <LabelSet>Human Bike Car</LabelSet>
  </Check_Parameters>
	
	<SavePath>D:\LYS\TEST</SavePath>
	<CheckPath>D:\LYS\OriginalIMG\20151030\Side</CheckPath>

</Parameter>